 #infi-list {
        width: 200px;
        height: 300px;
        overflow: auto;
        line-height: 200%;    
        margin: 30px;
        padding: 20px;
        border: 10px solid black;
        font-size: large;
        }
        li {
        padding: 10px;
        list-style-type: none;
        
        }
        li:hover {
        background: #ccc;
        }